[submodule "Dependencies/Glaze"]
	path = Dependencies/Glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "Dependencies/SDL_gpu_shadercross"]
	path = Dependencies/SDL_gpu_shadercross
	url = https://github.com/libsdl-org/SDL_gpu_shadercross
